
//Variabler

$font-style: 'inter', 'sans-serif';
$third-color: #00ADB5;

//Ljust läge
$primary-color: #EEEEEE;
$text-color: #222831;
$secondary-color: #393E46;


//Mörkt läge
$primary-color-dm: #393E46;
$text-color-dm: #EEEEEE;
$secondary-color-dm: #222831;


//Mixin för bilder
@mixin images($size, $radius, $margin){
    width: $size;
    border-radius: $radius;
    margin-bottom: $margin;
}

//placeholder för bakgrund- och textfärg

%headerFooterStyles{
    background-color: $secondary-color;
    color: $third-color;
}