
//Variabler

$font-style: 'inter', 'sans-serif';
$heading-color: #00ADB5;

//Ljust läge
$primary-color: #EEEEEE;
$text-color: #222831;
$secondary-color: #393E46;


//Mörkt läge
$primary-color-dm: #393E46;
$text-color-dm: #EEEEEE;
$secondary-color-dm: #222831;


