@use "base";

body {
    background-color: base.$primary-color;
    color: base.$text-color;
    font-family: base.$font-style;
    font-size: 1.3em;
    line-height: 1.7em;
    margin: 0;
    padding: 0;
}

// media query - mörkt tema

@media (prefers-color-scheme: dark) {

    body {
        background-color: base.$primary-color-dm;
        color: base.$text-color-dm;
    }

    .mainHeader, .mainFooter{
        background-color: base.$secondary-color-dm;
    }
.mainHeader h1, .mainHeader a, .mainFooter p{
    color: base.$third-color-dm;
}


}