@use "base";

header {
    margin: 0;
    padding: 0;
    top: 100%;
    background-color: base.$secondary-color;

    h1 {
        margin: 0;
        padding: 1em;
        color: base.$third-color;
        text-align: center;
    }

}

nav {

    ul {
        padding: 0;
        margin: 0;
        text-align: center;
        padding-bottom: 1em;
    }

    li {
        display: inline-block;
        margin: 1em;
    }

    a {
        text-decoration: none;
        color: base.$third-color;
        font-weight: 600;
        font-size: 1.2em;
    }

    a:hover{
        text-decoration: underline 2px;
    }
}