@use "base";

main{
    margin: 0 auto;
    max-width: 900px;
    
    h2{
        text-align: center;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 1.8em;
    }

}

.imageStockholm{
        @include base.images(100%, 50%, 2em)
}