@use "base";
@use "animation";

main {
    margin: 0 auto;
    max-width: 900px;

    h2 {
        text-align: center;
        margin-top: 2em;
        margin-bottom: 2em;
        font-size: 1.8em;
    }

}

.imageSquare {
    @include base.images(100%, 2em, false)
}

.imageOval {
    @include base.images(100%, 2em, true)
}


//Moment 4

.animationMain {
    max-width: 100%;
}

.ghostContainer {
    background-color: base.$orange-color;
    max-width: 100%;
    padding: 2em;
}

.ghost1 {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    text-align: center;
    animation: floatingGhost 8s alternate infinite;
}